In [23]:
import seaborn as sns
import pandas as pd
import numpy as np
import plotly.express as px

In [24]:
df = pd.read_csv('train.csv')

In [25]:
df.head()

,id,title,Rating,maincateg,platform,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,Women,Flipkart,698,999,30.13%,38.0,7.0,17.0,9.0,6.0,3,3,0
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,Men,Flipkart,999,1999,50.03%,531.0,69.0,264.0,92.0,73.0,29,73,1
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,Women,Flipkart,2749,4999,45.01%,17.0,4.0,11.0,3.0,2.0,1,0,1
3,495,Men Black Sports Sandal,4.2,Men,Flipkart,518,724,15.85%,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1
4,16408,Men Green Sports Sandal,3.9,Men,Flipkart,1379,2299,40.02%,77.0,3.0,35.0,21.0,7.0,7,7,1

In [26]:
df.isnull().sum()

id              0
title           0
Rating          0
maincateg     526
platform        0
price1          0
actprice1       0
Offer %         0
norating1     678
noreviews1    578
star_5f       588
star_4f       539
star_3f       231
star_2f         0
star_1f         0
fulfilled1      0
dtype: int64

In [38]:
df2 = df.sort_values('price1',ascending=False).iloc[350:]
df2.head()

,id,title,Rating,maincateg,platform,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
13185,726,Men Brown Sandal,4.0,Men,Flipkart,2786,4030,29.79%,130.0,7.0,80.0,9.0,8.0,6,12,1
8053,9314,Slip On For Men (Tan),4.3,Men,Flipkart,2785,2799,0.50%,7.0,1.0,4.0,2.0,0.0,1,0,1
5460,2336,fuzeX Rush Adapt Running Shoes For Women (Navy),4.0,Women,Flipkart,2778,7999,65.27%,74.0,9.0,38.0,18.0,8.0,3,7,1
12379,8850,Nova Hypertech Wn's Sneakers For Women (Multi...,4.5,Women,Flipkart,2778,6999,60.31%,181.0,22.0,118.0,43.0,12.0,2,6,1
10047,462,ARYA - DIFFERENT EDGE Bellies For Women (Pink),4.1,Women,Flipkart,2777,4491,35.01%,167.0,24.0,162.0,43.0,11.0,6,13,1

In [28]:
X = df2[['actprice1','Rating']].values
y = df2['price1'].values

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=101)

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
LR = LinearRegression()

In [33]:
LR.fit(X_train,y_train)

LinearRegression()

In [34]:
from sklearn import metrics
from sklearn.metrics import classification_report

In [35]:
predictions = LR.predict(X_test)

In [36]:
predictions

array([545.78065682, 343.16837286, 420.25279758, ..., 499.53000199,
       452.18295731, 484.11311705])

In [37]:
print('Root Mean Squared Error, RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,predictions)))

Root Mean Squared Error, RMSE:  247.7124895688545